<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="/style.css">
    <title>Front page</title>
</head>

<body>
    {{!-- <img src="/black-white-city.jpg" class="bg-image" /> --}}
    <div class="container">
        <h1 >Basic Sign up / Login System</h1>
        <h2>Sign up</h2>
        <form action="/users" method="POST">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Age</label>
                <input type="text" class="form-control" name="age">
            </div>
            <div class="mb-3">
                <label class="form-label">password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <input type="submit" value="Sign up" />
        </form>
        <hr>
        <h2>Login</h2>
        <form action="/users/login" method="POST">
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="mb-3">
                <label class="form-label">password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <input type="submit" value="login" />
        </form>
    </div>
    </div>
</body>

</html>